div {
    width: 150px;
}

div:hover {
    border: 1px solid black;
}

div:nth-of-type(1) {
    background-color: red;
    color: blue;
}

div:nth-of-type(2) {
    background-color: green;
    color: orange;
}
div:nth-of-type(3) {
    background-color: yellow;
    width: 300px;
    color: purple;
}
div:nth-of-type(4) {
    background-color: olive;
    color: darkgrey;
}
div:nth-of-type(5) {
    background-color: maroon;
    color: white;
}

div:nth-of-type(2n+1) {
    font-style: italic;
}