.ordered-list li {
  background-color: yellow;
}

.ordered-list .par  {
  background-color: green;
}

.ordered-list .impar {
  text-transform:uppercase;
}

.header {
  color: red;
}

.header em {
  font-size: 40px;
  border: 1px solid black;
}