ol li {
  background-color: yellow;
}

ol li:nth-child(even) {
  color: green;
}
ol li:nth-child(3n+2), ol li:nth-child(3) {
  text-transform:uppercase;
}

h1, h3 {
  color: red;
}

h1 em, h3 em {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}

li em {
  font-weight: bold;
}

.programming-list li:nth-child(-n+3) {
  color: blue;
}

.programming-list li:nth-child(2),.programming-list li:nth-child(3) {
  background-color: pink;
}

ul li a:hover{
  font-weight: bold;
  font-family: monospace;
}

.green:hover {
  color: green;
}

#stack:hover {
  color: orange;
}

#mdn:hover {
  color: black;
}

#dev:hover {
  color: yellow;
}

